[profile.default]
src = "src"
out = "out"
libs = ["lib"]
rpc_endpoints = {sepolia-eth = "https://eth-sepolia.g.alchemy.com/v2/l8ChQAxXV1P0SN5B21rTGdGjKvYRGJ6N", arb-sepolia="https://arb-sepolia.g.alchemy.com/v2/l8ChQAxXV1P0SN5B21rTGdGjKvYRGJ6N"}
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
